*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --background: #000;
    --text-color:#fff;
    --title-color:#fff;
}
.light-theme{
    --background: #e9ebee;
    --text-color:#000;
    --title-color:#000;
}
body{
    background: var(--background);
    color: var(--text-color);
    transition: background 0.8s, color 0.8s;
}
#header{
    width: 100%;
    height: 100vh;
    padding: 0;
    background-image: url(images/); /*miejsce na zdjęcie biznesowe*/
    background-size: 630px;
    background-position: 90%;
    background-repeat: no-repeat;
}
.container{
    padding: 0 10%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    width: 90px;  
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
    color: #4864ff;
}
nav ul{
    text-align: left;
    margin-left: 90px;  
    display: inline;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 40px 10px;
}
nav ul li a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    position: relative; 
    padding: 10px;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #4864ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.toggle-btn{
    background: #4864ff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
   
}
.toggle-btn img{
    width: 25px;
    margin-left: 10px;
}
.header-text{
    margin-top: 25%;
    font-size: 30px;
}
.header-text h1{
    font-size: 50px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #4864ff;
}
.header-text p{
    font-size: 33px;
    font-weight: 600;
}
.img-box img{
    width: 600px;
    display: block;
}
.img-box{
    position: absolute;
    bottom: 0;
    right: 10%;
}

/*--about--*/
#about{
    padding: 80px 0px;
    color: #757070;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius:  15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: var(--text-color);;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #4864ff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #4864ff;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*--services--*/
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    color: #fff;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #fff;
}
.services-list div p{
    color: #fff;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #4864ff;
    transform: translateY(-10px);
}
#portfolio{
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#4864ff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
}
.layer p{
    color:#fff;
}
.layer a{
    margin-top: 20px;
    color: #4864ff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #4864ff;
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 50px;
    color:#fff;
    transition: background 0.5s;
    
}
.btn:hover{
    background: #4864ff;
}
/*--contact--*/
#contact{
    margin-top: 80px;;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #4864ff;
    margin-right: 15px;
    font-size: 25px;
}
.contact-left a{
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #4864ff;
    display: inline-block;
    /*transition: transform 0.5s;
}
.social-icons a:hover{
    color: #4864ff;
    transform: translateY(-5px);*/
}
.btn.btn2{
    display: block;
    background: #4864ff;
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
    color: #fff;
    margin: 0;
    margin-top: 20px; 
    margin-bottom: 30px;
   
}
.btn.btn2:hover{
    opacity: 1;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form.btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    color: #fff;
}
.copyright a{
    color: #fff;
    text-decoration: none;
}
/*--css dla urządzeń mobilnych--*/
nav .fa-solid{
   display: none; 
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/MP1.png);
        background-size: 250px;
        background-position: 100% 100%;
    }
    .header-text{
        margin-top: 45%;
        font-size: 10px;
    }
    .header-text h1{
        font-size: 20px;
    }
    .header-text p{
        font-size: 14px;
    }

    nav .logo{
        position: absolute;
        margin-top: 60%;
        margin-left: 25%;
        width: 100px;
    
    }
    nav .fa-solid{
        display: block; 
        font-size: 25px;
        margin-left: 5px;
        margin-top: 25px;
     }

     nav ul{
        background: #4864ff;
        position: fixed;
        top: 0;
        right: -200px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s; 
     }
     nav ul li{
        display: block;
        margin: 25px;
     }
     nav ul .fa-solid{
        position: absolute;
        top: 5px;
        left: 20px;
        cursor: pointer;
        
    }
    .toggle-btn{
        background: #4864ff;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 40px;
        border-radius: 20px;
        cursor: pointer;
        margin-top: 25px;

    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 15px;
    }
}
@media screen and (max-width: 900px) and (min-width: 600px){
    #header{
        background-image: url(images/);/*miejsce na zdjęcie frontowe*/
        background-size: 400px;
        background-position: 100% 100%;
    }
    .header-text{
        margin-top: 30%;
        font-size: 10px;
    }
    .header-text h1{
        font-size: 25px;
    }
    .header-text p{
        font-size: 19px;
    }

    nav .logo{
        position: absolute;
        margin-top: 30%;
        margin-left: 25%;
        width: 150px;
    
    }
    nav .fa-solid{
        display: block; 
        font-size: 25px;
        margin-left: 5px;
        margin-top: 25px;
     }

     nav ul{
        background: #4864ff;
        position: fixed;
        top: 0;
        right: -200px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s; 
     }
     nav ul li{
        display: block;
        margin: 25px;
     }
     nav ul .fa-solid{
        position: absolute;
        top: 5px;
        left: 20px;
        cursor: pointer;
        
    }
    .toggle-btn{
        background: #4864ff;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 40px;
        border-radius: 20px;
        cursor: pointer;
        margin-top: 25px;

    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 15px;
    }
}
#msg{
    color: #61b752;
    display: inline-block;
    margin-left: 0;
  
/*opóźnianie przesuwania tekstu*/
}
.slide-left{
    animation: slideleft 2s linear forwards;
}
@keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
p.slide-left{
    animation-delay: 2s;
    opacity: 0;
}
.links.slide-left{
    animation-delay: 0s;
}


